.subscription-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 92px);
    border: 2px solid darkgray;
    box-sizing: border-box;
    margin: 0 20px;
}

.search-bar {
    width: 90%;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.subscription-scroll-view {
    width: 100%;
    overflow-y: scroll;
}

.delete-button {
    border: none;
    background: none;
    position: absolute;
    right: 3px;
    top: 3px
}

.ant-select {
    width: 80%;
}

.error-text {
    color: red;
}

.subscription-card {
    margin: 0 10px 20px 10px;
    padding: 15px 20px;
    border: 2px solid lightgray;
    position: relative;
}

.new-card {
    background-color: lightgreen;
}

.selected-card {
    border: 2px solid black;
}
